@import '../../../assets/scss/variables.scss';

#comments-modal-content {
    width: 100%;
    padding: 10px;
    max-width: 1000px;
    height: calc(100vh - 150px);
    margin-top: 80px;
    background-color: $primary-background-color;
    overflow-y: scroll;
    box-sizing: border-box;

    &>div:nth-child(1) {
        font-size: small;
        color: $secondary-text-color;
        display: flex;
        flex-direction: row;

        &>div {
            width: 30%;
            max-width: 100px;
        }
    }
}