@import '../../../assets/scss/variables.scss';

.action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 50px 0px;
    background-color: $primary-background-color;
    min-height: 100px;

    &>div {
        width: 20%;
        margin: 15px;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;

        &>button {
            width: 70%;
            padding: 15px;
            box-sizing: border-box;
            background-color: $secondary-background-color;
            color: $light-text-color;
            border: none;
        }
    }
}